@model Assignment.Models.property

<link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
<link rel="icon" type="image/png" sizes="16x16" href="plugins/images/favicon.png">
<link rel="icon" type="image/png" sizes="16x16" href="~/Content/dashboard/plugins/images/favicon.png" />
<link href="~/Content/dashboard/plugins/bower_components/chartist/dist/chartist.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/dashboard/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css">
<link href="~/Content/dashboard/css/style.min.css" rel="stylesheet">
<link href="~/Content/css/style.css" rel="stylesheet">
@{
    Layout = "~/Views/Shared/dashboardView.cshtml";

}
@using (Html.BeginForm("CreateProperty", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <section class="intro-single">
        <div class="container">
            <div class="form-horizontal">
                <h4>property</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.property_name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.property_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.property_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.property_price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.property_price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.property_price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.area, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.area, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.area, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.beds, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.beds, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.beds, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.bath, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.bath, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.bath, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.garages, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.garages, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.garages, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.property_image)

                <input type="file" name="file" />
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.description, new { @class = "form-control", rows = 4 }) 
                    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.city, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.property_type, "Property Type", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.property_type, ViewBag.PropertyTypeList as SelectList, "-- Select Property Type --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.property_type, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.location, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.location, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.location, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create Property" class="btn btn-success" />
                    </div>
                </div>
            </div>
    </section>
}
<script src="~/Content/dashboard/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Content/dashboard/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/dashboard/js/app-style-switcher.js"></script>
<script src="~/Content/dashboard/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="~/Content/dashboard/js/waves.js"></script>
<script src="~/Content/dashboard/js/sidebarmenu.js"></script>
<script src="~/Content/dashboard/js/custom.js"></script>
<script src="~/Content/dashboard/plugins/bower_components/chartist/dist/chartist.min.js"></script>
<script src="~/Content/dashboard/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="~/Content/dashboard/js/pages/dashboards/dashboard1.js"></script>
